/* Default styles
 =================================================== */

 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrap {
    width: 1400px;
    /*text-align: center;*/
    margin:0 auto;
    background-color: cornsilk;
}

.container {
    width: 84.3%;
    margin:0 auto;
    
}


/* Navigation content
 =================================================== */
.navigation {
    background-color: black;
    height:70px;
}


.logo {
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    padding-top: 20px;
    margin-right:625px;
    color:white;
    
}

.nav-span {
    color:#EC7979;
}

.nav-box {
    
   display: inline-block;
}

.menu {
    list-style-type: none;
    overflow: hidden;

}


.menu a{
    padding:20px 20px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.7);
}


.menu li {
    float: left;
    
}

/* header content
 =================================================== */

.header {
     background: url(../img/background_header.png) no-repeat center;
     width:1400px;
     height:600px;
     position: relative;
}

.mask {
    position: absolute;
    background: rgba(0,0,0,0.45);
    width:1400px;
    height:600px;
}
/*
.header-content {
    position: relative;
}*/

.header-title {
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    font-weight: 400;
    text-transform: uppercase;
    padding-top: 109px;
    margin-bottom:32px;
    color:white;
}

.header-subtitle {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 32px;
    color:white;
}

.header-line {
    width: 64px;
    height: 1px;
    background: white;
    border:none;
    margin-bottom: 39px;
}

.header-part {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 39px;
    color: rgba(255, 255, 255, 0.8);
}

.header-button {
     background-color: transparent;
     background: transparent;
     border: 1px solid white;
     width: 135px;
     height: 42px;
     outline:none;
     cursor: pointer;
}

.button-text {
    font-weight: 600;
    font-size: 15px;
    color:white;
    
}

.header-article {
    display: inline-block;
}

.header-content {
    position: relative;
}

.header-form {
    position: absolute;
    top:111px;
    right:0px;
    display: inline-block;
    width: 370px;
    height:370px;
    border-radius: 8px;
    background: white;
    
}

.form-title {
    text-transform: capitalize;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    padding-top:15px;
    margin-bottom: 44px;
    height:56px;
    /*background: cyan;*/

}

.span-form {
    text-transform:uppercase;
    color:#EC7979;
}

.field {
    padding: 16px;
    margin-left:59px;
    width:250px;
    border:none;
    border-bottom: 1px solid #BDBDBD;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color:#BDBDBD;

}

.form-fields {
    margin-bottom: 50px;
}

.form-button {
     width: 370px;
     height: 63px;
     outline:none;
     cursor: pointer;
     background: #EC7979;
     border-radius: 0px 0px 8px 8px;
     border:none;
}

.form-button-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color:white;

}

/* social-icons content
 =================================================== */


.social-icons {
    position: relative;
    width:1400px;
    height:120px;
    background: #F8EFEF;
}

.social-media {
    /*display: inline-block;*/
    margin-right: 20px;
    padding-top: 15px;
}

.icons-sprite {
    /*display: inline-block;*/
    position:absolute;
    top:8px;
    right:110px;
}

.social-media-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #333333;
    text-transform: capitalize;
    margin-top: 5px;
    margin-bottom: 14px;
}

.social-media-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #86878B;
    
}

.icons {
      background: url(../img/social__icons_1.png) no-repeat;
      width: 96px;
      height:42px;
      margin-top:34px;
      margin-bottom: 34px;
      display: inline-block;
      
}


.facebook {
    /*background-position: left top;*/
    background-position: 2px top;
}

.twitter {
  background-position: -96px top;
}

.google-plus {
  background-position: -192px top;
}

.pinterest {
  background-position: -288px top;
}

.instagram {
  background-position: -384px top;
}

.stumbleUpon {
  background-position: -483px top;
}

.rss {
  background-position: -588px top;
}
/*
.frame-container {
    position: relative;
    
}*/


/* Features content
 =================================================== */

.features-wrap {
    position: relative;
    box-sizing: border-box;
}

.square {
    width: 112px;
    height: 110px;
    border-radius: 4px;
    
}

.frame-top {
    position: absolute;
    background:#EC7979;
    top:125px;
    left:90px;
    
}

.frame-center {
    position: absolute;
    background:#333333;
    top:245px;
    left:90px;
}

.frame-bottom {
    position: absolute;
    background:#333333;
    top:365px;
    left:90px;
}

.tab {
    color:#FFFFFF;
    text-align: center;
    line-height: 110px;
}

.features-content {
    position: absolute;
    left:310px;
    top:126px;
}

.features-title {
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #333333;
    margin-bottom: 58px;

}

.ftm {
    margin-bottom: 20px;
}

.ftmb {
    margin-bottom: 89px;
}
.features-text {
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #86878B;
    line-height: 19px;

}


.features-img {
    position: absolute;
    top:100px;
    right: 90px;
}

.features-button {
     width: 135px;
     height: 42px;
     outline:none;
     cursor: pointer;
     background: #EC7979;
     border:none;
     margin-bottom: 126px;
}

.features-button-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color:white;
}