/* Default styles
 =================================================== */

 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrap {
    width: 1400px;
    /*text-align: center;*/
   /* margin:0 auto;*/
   
}

.container {
    width: 84.3%;
    margin:0 auto;
    
}


/* Navigation content
 =================================================== */
.navigation {
    background-color: black;
    height:70px;
}


.logo {
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    padding-top: 20px;
    margin-right:625px;
    color:white;
    
}

.nav-span {
    color:#EC7979;
}

.nav-box {
    
   display: inline-block;
}

.menu {
    list-style-type: none;
    overflow: hidden;

}


.menu a{
    padding:20px 20px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.7);
}


.menu li {
    float: left;
    
}

/* header content
 =================================================== */

.header {
     background: url(../img/background_header.png) no-repeat center;
     width:1400px;
     height:600px;
     position: relative;
}

.mask {
    position: absolute;
    background: rgba(0,0,0,0.45);
    width:1400px;
    height:600px;
}
/*
.header-content {
    position: relative;
}*/

.header-title {
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    font-weight: 400;
    text-transform: uppercase;
    padding-top: 109px;
    margin-bottom:32px;
    color:white;
}

.header-subtitle {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 32px;
    color:white;
}

.header-line {
    width: 64px;
    height: 1px;
    background: white;
    border:none;
    margin-bottom: 39px;
}

.header-part {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 39px;
    color: rgba(255, 255, 255, 0.8);
}

.header-button {
     background-color: transparent;
     background: transparent;
     border: 1px solid white;
     width: 135px;
     height: 42px;
     outline:none;
     cursor: pointer;
}

.button-text {
    font-weight: 600;
    font-size: 15px;
    color:white;
    
}

.header-article {
    display: inline-block;
}

.header-content {
    position: relative;
}

.header-form {
    position: absolute;
    top:111px;
    right:0px;
    display: inline-block;
    width: 370px;
    height:370px;
    border-radius: 8px;
    background: white;
    
}

.form-title {
    text-transform: capitalize;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    padding-top:15px;
    margin-bottom: 44px;
    height:56px;
    /*background: cyan;*/

}

.span-form {
    text-transform:uppercase;
    color:#EC7979;
}

.field {
    padding: 16px;
    margin-left:59px;
    width:250px;
    border:none;
    border-bottom: 1px solid #BDBDBD;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color:#BDBDBD;

}

.form-fields {
    margin-bottom: 50px;
}

.form-button {
     width: 370px;
     height: 63px;
     outline:none;
     cursor: pointer;
     background: #EC7979;
     border-radius: 0px 0px 8px 8px;
     border:none;
}

.form-button-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color:white;

}

/* social-icons content
 =================================================== */


.social-icons {
    position: relative;
    width:1400px;
    height:120px;
    background: #F8EFEF;
}

.social-media {
    /*display: inline-block;*/
    margin-right: 20px;
    padding-top: 15px;
}

.icons-sprite {
    /*display: inline-block;*/
    position:absolute;
    top:8px;
    right:110px;
}

.social-media-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #333333;
    text-transform: capitalize;
    margin-top: 5px;
    margin-bottom: 14px;
}

.social-media-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #86878B;
    
}

.icons {
      background: url(../img/social__icons_1.png) no-repeat;
      width: 96px;
      height:42px;
      margin-top:34px;
      margin-bottom: 34px;
      display: inline-block;
      
}


.facebook {
    /*background-position: left top;*/
    background-position: 2px top;
}

.twitter {
  background-position: -96px top;
}

.google-plus {
  background-position: -192px top;
}

.pinterest {
  background-position: -288px top;
}

.instagram {
  background-position: -384px top;
}

.stumbleUpon {
  background-position: -483px top;
}

.rss {
  background-position: -588px top;
}
/*
.frame-container {
    position: relative;
    
}*/


/* Features content
 =================================================== */

 .features {
     width:1400px;
     height:600px;
 }
.features-wrap {
    position: relative;
    box-sizing: border-box;
}

.square {
    width: 112px;
    height: 110px;
    border-radius: 4px;
    
}

.frame-top {
    position: absolute;
    background:#EC7979;
    top:125px;
    left:0px;
    
}

.frame-center {
    position: absolute;
    background:#333333;
    top:245px;
    left:0px;
    margin-bottom: 126px;
}

.frame-bottom {
    position: absolute;
    background:#333333;
    top:365px;
    left:0px;
}

.tab {
    color:#FFFFFF;
    text-align: center;
    line-height: 110px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 700;
    
}

.features-content {
    position: absolute;
    left:230px;
    top:126px;
}

.features-title {
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #333333;
    margin-bottom: 58px;

}

.ftm {
    margin-bottom: 20px;
}

.ftmb {
    margin-bottom: 89px;
}
.features-text {
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #86878B;
    line-height: 19px;

}


.features-img {
    position: absolute;
    top:100px;
    right: 10px;
}

.features-button {
     width: 135px;
     height: 42px;
     outline:none;
     cursor: pointer;
     background: #EC7979;
     border:none;
     margin-bottom: 126px;
}

.features-button-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color:white;
}

/* Process content
 =================================================== */


.process {
    width:1400px;
    height:600px;
    text-align: center;
}



.process-title {
    margin-bottom: 30px;
    padding-top: 107px;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 400;
    color: #212121;
}

.process-line {
    width: 64px;
    height: 2px;
    margin: 0 auto 30px;
    border: none;
    background-color:#E72424;
}

.process-subtitle {
    padding-bottom: 40px;
    color: #86878B;
    font-size: 14px;
    font-weight: 400;
}



.process-main {
    padding: 40px 0 107px;
    font-size: 0;
    
}

.card {
    display: inline-block;
    width: 350px;
    margin: 0 16px;
    
}

.card-icon {
    width: 70px;
    height: 70px;
    margin: 0 auto 29px;
    border: 2px solid #FF8B38;
    border-radius: 50%;
}

.card-title {
    margin-bottom: 29px;
    font-size: 20px;
    font-weight: 700;
    color: #333333;
}

.card-text {
    font-size: 14px;
    font-weight: 400;
    color: #86878B;
}

.card-icon-lamp {
    background: url(../img/lamp.png) no-repeat center;
}

.card-icon-keyboard {
    background: url(../img/keyboard.png) no-repeat center;
}

.card-icon-lightning {
    background: url(../img/lightning.png) no-repeat center;
}

/* Pricing options content
 =================================================== */

 .pricing-opt {
    width:1400px;
    height:800px; 
    background: #F5F5F5;
    text-align: center;
 }

 .pricing-title {
    margin-bottom: 30px;
    padding-top: 80px;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 400;
    color: #212121;
}

.pricing-line {
    width: 64px;
    height: 2px;
    margin: 0 auto 30px;
    border: none;
    background-color:#E72424;
}

.pricing-subtitle {
    padding-bottom: 40px;
    color: #86878B;
    font-size: 14px;
    font-weight: 400;
}

.pricing-list {
    list-style-type: none;
}

.basic {
    width: 340px;
    height: 50px;
    background: #333333;
    margin-bottom: 1px;
}

.basic-span {
    text-align: center;
    line-height: 50px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color:white;
}

.zero {
    width: 340px;
    height: 100px;
    background: #333333;
    margin-bottom: 2px;
}

.zero-span {
    text-align: center;
    line-height: 100px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color:white;
}

.free {
    width: 340px;
    height: 50px;
    background: #333333;
    margin-bottom: 4px;
}

.free-span {
    text-align: center;
    line-height: 50px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.5);
}

.row {
    width: 340px;
    height: 40px;
    background: #FFFFFF;
    margin-bottom: 4px;
}

.row-span {
    text-align: center;
    line-height: 40px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #86878B;;
}

.pricing-wrap {
    position: relative;
}

.pricing-list-left {
    position: absolute;
    top:273px;
    left:0px;
}

.pricing-list-center {
    position: absolute;
    top:258px;
    left:421px;
}

.pricing-list-right {
    position: absolute;
    top:273px;
    right:0px;
}


/* Testimonials content
 =================================================== */

.testimonials {
    width:1400px;
    height:600px; 
    text-align: center;
}

.testimonials-title {
    margin-bottom: 30px;
    padding-top: 80px;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 400;
    color: #212121;
}

.testimonials-line {
    width: 64px;
    height: 2px;
    margin: 0 auto 30px;
    border: none;
    background-color:#E72424;
}

.testimonials-subtitle {
    padding-bottom: 40px;
    color: #86878B;
    font-size: 14px;
    font-weight: 400;
}

.comment-container {
    display: inline-block;
    width:298px;
    height: 110px;
    border-radius: 7px;
    background: #E2E2E2;
    margin: 20px 40px 22px 40px;
    
}

.comment-text {
    padding-top:7px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #86878B;;
    
}

.owner-data {
    display: inline-block;
    margin: 22px 40px 119px 40px;
    width:298px;


}

.owner-avatar {
    display: inline-block;
    margin-right: 45px;
}

.comment-owner {
    display: inline-block;
    
    height:70px;
    
    text-align: right;
}

.owner-name {
    padding-top:0px;
    margin-bottom: 12px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color:  #333333;
}

.owner-duty {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #86878B;;
    
}



/* stylish section content
 =================================================== */
 .stylish {
    width:1400px;
    height:326px; 
    text-align: center;
}

.stylish-title {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: 400;
    color:white;
    padding-top:76px;
    margin-bottom: 48px;

 }

 .dark-block {
    position: absolute;
    background: rgba(0,0,0,0.65);
    width:1400px;
    height:325px;
    
 }

 .stylish-background-image {
     background: url(../img/background_stylish.png) no-repeat center;
     width:1400px;
     height:325px;
    /* background-size: cover;*/
 }

 .stylish-content {
     position: relative;
     
 }

 .stylish-line {
    width: 64px;
    height: 2px;
    margin: 0 auto 30px;
    background: white;
    border: none;
    margin-bottom: 30px;
 }

 .stylish-subtitle {
     color:rgba(255, 255, 255, 0.5);
     /*color:white;*/
     font-family: 'Raleway', sans-serif;
     font-size: 16px;
     font-weight: 300;
     margin-bottom: 30px;

 }

 .stylish-button {
     /*padding: 100px 100px;*/
     background-color: transparent;
     background: transparent;
     border: 1px solid white;
     width: 135px;
     height: 42px;
     outline:none;
     cursor: pointer;
 }

 .stylish-button-text {
     font-weight: 600;
     font-size: 15px;
     color:white;
     
 }


 /* contact section content
 =================================================== */
    .contacts {
        width:1400px;
        height:700px; 
        text-align: center;
    }

    .contacts-title {
        margin-bottom: 30px;
        padding-top: 80px;
        font-family: 'Raleway', sans-serif;
        font-size: 36px;
        text-transform: uppercase;
        font-weight: 400;
        color: #212121;
    }
    
    .contacts-line {
        width: 64px;
        height: 2px;
        margin: 0 auto 30px;
        border: none;
        background-color:#E72424;
    }
    
    .contacts-subtitle {
        padding-bottom: 40px;
        color: #86878B;
        font-size: 14px;
        font-weight: 400;
    }

    .container-form {
        position: relative;
    }

    .contacts-form-fields {
        /*display: inline-block;*/
        position: absolute;
        top:35px;
        left:10px;
        /*margin-top:59px;*/
        width:480px;
        height: 176px;

    }

    .contacts-form-comment {
        /*display: inline-block;*/
        position: absolute;
        top:55px;
        right:10px;
        width:480px;
        height: 350px;
    }

    .contacts-field {
    
    /*margin-left:59px;*/
    width:478px;
    border:none;
    border-bottom: 1px solid #BDBDBD;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color:#BDBDBD;

    }

    .contacts-name {
       padding: 32px 0 32px; 
    }

    .contacts-email {
        padding: 32px 0 32px;
    }

    .contacts-password {
        padding: 46px 0 46px;
        
    }

    .contacts-comment {
    width:478px;
    height: 260px;
    border:none;
    border-bottom: 1px solid #BDBDBD;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color:#BDBDBD;


    }

    .contacts-button {
     position: absolute;
     top:380px;
     left:516px;
     border: none;
     width: 166px;
     height: 42px;
     outline:none;
     cursor: pointer;
     background: #EC7979;
    }

    .contacts-button-text {
    font-weight: 600;
     font-size: 15px;
     color:white;
    }

    /* footer content
 =================================================== */
 .footer {
    background-color: black;
    height:101px;
    margin:0 auto;
    text-align: center;
}

   a {
     background: url(../img/social__icons_footer.png) no-repeat;
     width: 45px;
     height:23px;
     margin-top:30px;
     margin-bottom: 18px;
     display: inline-block;
 }

 .footer-subtitle {
   color:rgba(255, 255, 255, 0.5);
   /*color:white;*/
   font-size: 12px;
   font-weight: 400;
 }

 .facebook-footer {
     /*background-position: left top;*/
     background-position: 2px top;
 }

 .twitter-footer {
   background-position: -42px top;
 }

 .google-plus-footer {
   background-position: -90px top;
 }

 .pinterest-footer {
   background-position: -135px top;
 }

 .instagram-footer {
   background-position: -180px top;
 }

 .stumbleUpon-footer {
   background-position: -225px top;
 }

 .rss-footer {
   background-position: -272px top;
 }